n8n/workflows/05_error_handler.json
{
  "name": "05 - Error Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "err-webhook-01",
      "name": "Receive Error",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "error-handler"
    },
    {
      "parameters": {
        "jsCode": "// Normalize and enrich error payload\nconst raw = $input.first().json;\nconst severity = raw.severity || 'warning';  // 'critical' | 'warning' | 'info'\nconst source = raw.source || 'unknown';\nconst message = raw.message || 'Unspecified error';\nconst data = raw.data || {};\n\nreturn [{\n  json: {\n    severity,\n    source,\n    message,\n    data,\n    timestamp: new Date().toISOString(),\n    isCritical: severity === 'critical',\n    formatted: [\n      `❌ [AI Sales Bot] Error Report`,\n      `🔴 Severity: ${severity.toUpperCase()}`,\n      `📍 Source: ${source}`,\n      `💬 Message: ${message}`,\n      `🕐 Time: ${new Date().toISOString()}`,\n      data.channel ? `📱 Channel: ${data.channel}` : null,\n      data.user_name ? `👤 User: ${data.user_name}` : null,\n      data.text ? `💬 Comment: \"${String(data.text).substring(0, 80)}\"` : null\n    ].filter(Boolean).join('\\n')\n  }\n}];"
      },
      "id": "err-format-02",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-critical",
              "leftValue": "={{ $json.isCritical }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "err-severity-03",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify-api.line.me/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LINE_NOTIFY_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.formatted }}" }
          ]
        }
      },
      "id": "err-notify-04",
      "name": "Alert Owner via LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ErrorLog",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "severity":  "={{ $json.severity }}",
            "source":    "={{ $json.source }}",
            "message":   "={{ $json.message }}"
          }
        },
        "options": {}
      },
      "id": "err-log-05",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 400],
      "credentials": {
        "googleSheetsOAuth2Api": { "name": "Google Sheets Account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Non-critical: just log to console (no LINE notification)\nconst d = $input.first().json;\nconsole.log(`[${d.severity}] ${d.source}: ${d.message}`);\nreturn [{ json: { logged: true } }];"
      },
      "id": "err-log-only-06",
      "name": "Log Only (Non-Critical)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 580]
    }
  ],
  "connections": {
    "Receive Error": {
      "main": [[{ "node": "Format Error", "type": "main", "index": 0 }]]
    },
    "Format Error": {
      "main": [[{ "node": "Is Critical?", "type": "main", "index": 0 }]]
    },
    "Is Critical?": {
      "main": [
        [
          { "node": "Alert Owner via LINE", "type": "main", "index": 0 },
          { "node": "Log to Google Sheets", "type": "main", "index": 0 }
        ],
        [{ "node": "Log Only (Non-Critical)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{ "name": "ai-sales-bot" }],
  "triggerCount": 1,
  "versionId": "05-error-handler-v1"
}
